In [7]:
# grab the lltk in this repo
import sys
sys.path.insert(0,'../..')
import lltk
lltk.__file__

'../../lltk/__init__.py'

In [8]:
# lltk.show()

In [9]:
# corpus = lltk.load('TxtLab')

In [10]:
# corpus.meta

In [11]:
# corpus.mfw_df()

In [12]:
corpus2 = lltk.load('Chicago')

In [13]:
corpus2.meta

,author,title,year,alt_first,auth_first,auth_id,auth_last,book_id,canon,class,...,religion,secondary_occupation,sexual_identity,source,written_as,path_freqs,path_txt,path_xml,_year_orig,corpus
id,,,,,,,,,,,,,,,,,,,,,
00000001,"Adams, Henry",Democracy,1880,,Henry,A_00017,Adams,1,,,...,,Historian,,g,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00000...,/home/ryan/lltk_data/corpora/chicago/xml/00000...,1880,Chicago
00000003,"Aldrich, Thomas Bailey",The Stillwater tragedy,1880,,Thomas Bailey,A_00034,Aldrich,3,,,...,,Editor,,g,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00000...,/home/ryan/lltk_data/corpora/chicago/xml/00000...,1880,Chicago
00000013,"Burnett, Frances Hodgson",Louisiana,1880,,Frances Hodgson,A_00486,Burnett,13,,,...,,,,g,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00000...,/home/ryan/lltk_data/corpora/chicago/xml/00000...,1880,Chicago
00000015,"Cable, George Washington",The Grandissimes,1880,,George Washington,A_00512,Cable,15,,,...,,,,g,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00000...,/home/ryan/lltk_data/corpora/chicago/xml/00000...,1880,Chicago
00000021,"Douglas, Amanda M.",Hope Mills: or: Between friend and sweetheart,1880,,Amanda M.,A_00984,Douglas,21,,,...,Episcopal,,,g,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00000...,/home/ryan/lltk_data/corpora/chicago/xml/00000...,1880,Chicago
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
00026229,"Weis, Margaret",Dragons of winter night,2000,,Margaret,A_03554,Weis,26229,,,...,,,,k,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00026...,/home/ryan/lltk_data/corpora/chicago/xml/00026...,2000,Chicago
00026230,"Wells, Ken",Meely LaBauve,2000,,Ken,A_04636,Wells,26230,,,...,,,,k,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00026...,/home/ryan/lltk_data/corpora/chicago/xml/00026...,2000,Chicago
00026231,"Wilhelm, Kate",The deepest water,2000,,Kate,A_03628,Wilhelm,26231,,,...,,,,k,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00026...,/home/ryan/lltk_data/corpora/chicago/xml/00026...,2000,Chicago
00026232,"Woods, Stuart",The run,2000,,Stuart,A_03705,Woods,26232,,,...,,,,k,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00026...,/home/ryan/lltk_data/corpora/chicago/xml/00026...,2000,Chicago
00026233,"Youngblood, Shay",Black girl in Paris,2000,,Shay,A_04538,Youngblood,26233,,,...,,Professor,Lesbian,k,,/home/ryan/lltk_data/corpora/chicago/freqs/000...,/home/ryan/lltk_data/corpora/chicago/txt/00026...,/home/ryan/lltk_data/corpora/chicago/xml/00026...,2000,Chicago

In [14]:
corpus2.mfw_df()

Computing most frequent words across all texts [x7]: 100%|██████████| 9089/9089 [01:20<00:00, 113.36it/s]

               count           fpm   rank  ranks_avg  pos pos0
word
the         47506928  53269.360039      1          1   at    a
and         24267355  27210.904285      2          2   cc    c
to          22687032  25438.893372      3          3   to    t
a           19832007  22237.563355      4          4   at    a
of          19260428  21596.653727      5          5   ii    i
...              ...           ...    ...        ...  ...  ...
chatty          1135      1.272672  24994      25000   jj    j
economical      1135      1.272672  24997      25005   jj    j
grapevine       1135      1.272672  24998      24997  nn1    n
crafts          1135      1.272672  24999      24999  nn2    n
taillights      1135      1.272672  25000      25006  nn2    n

[19791 rows x 6 columns]