# EvansTCP

In [1]:
import lltk
C=lltk.load('EvansTCP')

## Installation

In [2]:
# This is your custom installation function
# C.compile()

## Examine metadata

In [3]:
# Metadata
# C.meta

## Preprocess

In [4]:
# !rm -rf {C.path_txt}

In [5]:
C.preprocess()

[EvansTCP] Saving plain text versions of XML files [x4]: 100%|██████████| 3767/3767 [00:40<00:00, 93.03it/s]
[EvansTCP] Saving word freqs as jsons [x4]: 100%|██████████| 5012/5012 [00:13<00:00, 373.33it/s]
[EvansTCP] Counting overall most frequent words (MFW) [x4]: 100%|██████████| 5012/5012 [00:06<00:00, 787.76it/s]

[EvansTCP] DTM already saved for word key 05e98b86b9f2

[EvansTCP] Assembling document-term matrix (DTM) [x4]: 100%|██████████| 5012/5012 [00:18<00:00, 265.44it/s]

## Examine data

In [6]:
# Most frequent words
mfw_df = C.mfw_df()
mfw_df

                word    count           fpm    rank  ranks_avg
0                the  6566828  63239.931149       1          1
1                 of  4346209  41854.904364       2          2
2                and  3922506  37774.555595       3          3
3                 to  3241677  31218.029509       4          4
4                 in  2096915  20193.731315       5          5
...              ...      ...           ...     ...        ...
431169    judgiments        1      0.009630  431170     353267
431170       askotax        1      0.009630  431171     426359
431171  judging-hand        1      0.009630  431172     254347
431172      judgmdnt        1      0.009630  431173     370359
431173           kpe        1      0.009630  431174     356462

[431174 rows x 5 columns]

In [7]:
# Most frequent words by period
mfw_df = C.mfw_df(yearbin=10)
mfw_df

Preparing input: 100%|██████████| 47/47 [00:00<00:00, 3693.97it/s]
[EvansTCP] Counting most frequent words across 10-year periods [x4]: 100%|██████████| 47/47 [00:06<00:00,  7.72it/s]

              word   count           fpm    rank  ranks_avg
0              the  5970.0  62832.815119       1        1.0
1               of  3894.0  41610.441458       2        2.0
2              and  2503.0  36077.402427       3        3.0
3               to  2624.0  31527.317692       4        4.0
4               in  1638.0  19757.738896       5        5.0
...            ...     ...           ...     ...        ...
431169  paraîtront     1.0      0.027267  431170   194172.0
431170    paraître     1.0      0.027267  431171   135729.0
431171    paraîtra     1.0      0.027267  431172   131484.0
431172  paratively     1.0      0.027267  431173   153148.0
431173         kpe     1.0      0.027267  431174   172320.0

[431174 rows x 5 columns]

In [8]:
# Document term matrix
dtm = C.dtm()

In [9]:
# tf-idf DTM
dtm_tfidf = C.dtm(tfidf=True)

In [16]:
# C.meta[C.meta.title.str.lower().str.contains('romance')].sort_values('year')